name: absherk
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.8.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^4.1.0
  firebase_auth: ^6.0.2
  cloud_firestore: ^6.0.1
  firebase_storage: ^13.0.1
  image_picker: ^1.1.1
  flutter_appauth: ^10.0.0
  google_sign_in: ^6.2.1
  googleapis: ^13.1.0
  intl: ^0.19.0
  flutter_secure_storage: ^9.2.2
  provider: ^6.1.5+1
  uuid: ^4.5.1
  shared_preferences: ^2.1.1
  flutter_local_notifications: ^19.4.2
  image_picker: ^1.1.1
  permission_handler: ^11.3.1
  
  http: ^1.1.2                   
  flutter_markdown: ^0.6.18      
  pdf: ^3.10.7
  path_provider: ^2.1.1
  open_file: ^3.3.2
  share_plus: ^7.2.1
  url_launcher: ^6.3.0
  google_fonts: ^6.1.0
  flutter_dotenv: ^5.1.0
  

  # PDF Generation packages
  syncfusion_flutter_pdf: ^27.2.5
  printing: ^5.13.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - .env